PORT=3000
PUBLIC_PATH=public

POSTGRES_URL=postgresql://postgres:123456@localhost:5432/TODO
# POSTGRES_URL=postgresql://richy296:7CgVrd3EMPUf@ep-small-snowflake-a504gzua.us-east-2.aws.neon.tech/todos-postgresql?sslmode=require
# POSTGRES_URL=postgresql://postgres:fgEgEa2DbCfaae13AeFC3*Eab4dcdf6*@roundhouse.proxy.rlwy.net:48906/railway
POSTGRES_USER=postgres
POSTGRES_DB=TODO
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456


NODE_ENV=development